* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #5f7a7a;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 640px;
  height: 640px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% -10px);
  margin: 5px;
  position: relative;
}

.front, .back {
  height: 100%;
  width: 100%;
  padding: 20px;
  position: absolute;
  background: rgb(226, 236, 218);
}